<link rel="stylesheet" href="/navbar.css">
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/lounge">Lounge</a></li>
        <li><a href="/styleform">Style Form</a></li>
    </ul>
</nav>
