<h1>Hello <%= user.pawprint %></h1>

<h2>Please submit your learning goals for this class.</h2>
<form action="/home-submit" method="POST">
    Your Learning Goal: <input type="text" name="goal" required />
    <button type="submit">Submit</button>
</form>

<h2>Submitted Messages:</h2>
<ul>
    <% messages.forEach(function(message) { %>
        <li><%= message %></li>
    <% }); %>
</ul>
