<h1><%= user.firstname %>'s Movies</h1>

<h2>Suggest Movie</h2>
<form action="/movies-submit" method="POST">
    <div>Movie Title:</div>
    <input type="text" name="title" required />
    <div>Leading Stars: <i>comma separated list</i></div>
    <input type="text" name="stars" required />
    <div>Director:</div>
    <input type="text" name="director" required />
    <button type="submit">Submit</button>
</form>

<h2>Current Movies</h2>
<ul>
    <% movies.forEach(function(movie) { %>
        <li>
            <div>
                <b><%= movie.title %> : <i> <%= movies.director %> </i></b>
            </div>
            <% movie.stars.forEach(function(star) { %>
                <div>
                    <%= star %>
                </div>
            <% }); %>
        </li>
    <% }); %>
</ul>